main {
    background-color: #2C3845;
  }
  
  table {
    display: block;
  }
  
  tr, td, tbody, tfoot {
    display: block;
  }
  
  thead {
    display: none;
  }
  
  tr {
    padding-bottom: 10px;
  }
  
  td {
    padding: 10px 10px 0;
    text-align: center;
  }
  td:before {
    content: attr(data-title);
    color: #7a91aa;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-right: 10px;
    display: block;
  }
  
  table {
    width: 100%;
  }
  
  th {
    text-align: left;
    font-weight: 700;
  }
  
  thead th {
    background-color: #202932;
    color: #fff;
    border: 1px solid #202932;
  }
  
  tfoot th {
    display: block;
    padding: 10px;
    text-align: center;
    color: #b8c4d2;
  }
  
  .button {
    line-height: 1;
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
    background-color: #4b908f;
  }
  
  select {
    background-color: white;
    width: auto;
    height: 26px;
    border: 1px solid #28333f;
    border-radius: 4px;
  }
  button {
    transition-duration: 0.4s;
    background-color: #ffffff; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
  
  button:hover {
    
    background-color: #000000; /* Green */
    color: white;
  }
  
  .detail {
    background-color: #BD2A4E;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  .detail.open {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  .detail-container {
    margin: 0 auto;
    padding: 40px;
    max-width: 500px;
  }
  
  dl {
    margin: 0;
    padding: 0;
  }
  
  dt {
    font-size: 2.2rem;
    font-weight: 300;
  }
  
  dd {
    margin: 0 0 40px 0;
    font-size: 1.8rem;
    padding-bottom: 5px;
    border-bottom: 1px solid #ac2647;
    box-shadow: 0 1px 0 #c52c51;
  }
  
  .close {
    background: none;
    padding: 18px;
    color: #fff;
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    line-height: 1;
    font-size: 1.8rem;
    position: fixed;
    right: 40px;
    top: 20px;
    -moz-transition: border 0.3s linear;
    -o-transition: border 0.3s linear;
    -webkit-transition: border 0.3s linear;
    transition: border 0.3s linear;
  }
  .close:hover, .close:focus {
    background-color: #a82545;
    border: 1px solid #a82545;
  }
  
  @media (min-width: 460px) {
    td {
      text-align: left;
    }
    td:before {
      display: inline-block;
      text-align: right;
      width: 140px;
    }
  
    .select {
      padding-left: 160px;
    }
    
  }
  @media(max-width:680px)
  {h1{font-size: 5.2vw} }

  @media (min-width: 1024px) {
    table {
      display: table;
    }
  
    tr {
      display: table-row;
    }
  
    td, th {
      display: table-cell;
    }
  
    tbody {
      display: table-row-group;
    }
  
    thead {
      display: table-header-group;
    }
  
    tfoot {
      display: table-footer-group;
    }
  
    td {
      border: 1px solid #28333f;
    }
    td:before {
      display: none;
    }
  
    td, th {
      padding: 10px;
    }
  
    tr:nth-child(2n+2) td {
      background-color: #242e39;
    }
  
    tfoot th {
      display: table-cell;
    }
  
    .select {
      padding: 10px;
    }
  }
  @media 
  only screen and (max-width: 1024px)
    {
  
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    #infoTR{
      display: none;
    }
    th{
      display: none;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr {
      margin-bottom: 10px ;
       border: 1px solid rgb(255, 255, 255); }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
    
    /*
    Label the data
    */

    td:nth-of-type(1):before { color: white; content: "Fecha"; }
    td:nth-of-type(2):before { content: "Descripcion"; }
    td:nth-of-type(3):before { content: "Movimiento"; }
    td:nth-of-type(4):before { content: "Categoria"; }
    
  }
  .ms-drop ul li{
    text-align: left;
    padding: 5px}
  