<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon 2021</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
        <div class="formDiv">
            <form action="/auth" method="post" id="form">
                <img src="/images/user.png" alt="Usuario" class="imgLOG" style="width: 150px;">
                <br>
                <input name="user" class="form-control form-control-lg" id="userField" type="text" placeholder="Usuario" aria-label=".form-control-lg example" required>
                <br>
                <input name="pass" class="form-control form-control-lg "id="passField" type="password" placeholder="Contraseña" aria-label=".form-control-lg example" required>
                <br>
                <div class="d-grid gap-2">
                    
                    <input id="loginbtn" value="Iniciar sesión" class="btn btn-primary inputF" type="submit">
                </div>
            </form>
        </div>
    
</body>
<script src="script.js"></script>

</html>