<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimientos</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.css">
    <!-- Include plugin -->
    <script src="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="stylesheet" href="/css/tabla.css">
    
    <script src="inicio.js"></script>
    

</head>

<body>
    <nav class="sidebar-navigation">

        <ul>
            <img src="/svg/logo.svg" class="imginicio">
            <li onclick="location.href='/inicio'">
                <img src="/svg/inicio.svg" alt="" style="width: 4vh;">
                <i class="fa fa-newspaper-o"></i>

                <span class="tooltip">Inicio</span>
            </li>
            <li class="active">
                <img src="/svg/docs.svg" alt="" style="width: 4vh;">
                <i class="fa fa-newspaper-o"></i>

                <span class="tooltip">Movimientos</span>
            </li>
            <li onclick="location.href='/estadisticas'">
                <img src="/svg/analytics.svg" alt="" style="width: 4vh;">
                <i class="fa fa-newspaper-o"></i>
                <span class="tooltip">Estadisticas</span>
            </li>
            <li onclick="alert('Proximamente 😉')">
                <img src="/svg/usuarioX.svg" alt="" style="width: 4vh;">
                <i class="fa fa-print"></i>
                <span class="tooltip">Usuario</span>
            </li>
            <li onclick="location.href='/logout'">
                <img src="/svg/shutdown.svg" alt="" style="width: 4vh;">
                <i class="fa fa-sliders"></i>
                <span class="tooltip">Cerrar sesion</span>
            </li>
        </ul>
    </nav>
    <div class="grand">
        <h1>⚖️ Tus ultimos movimientos financieros ⚖️</h1>
        
        <h3>¿Que movimientos quieres buscar?</h3>
        <br>
        <select name="Cuentas" id="Cuentas">
            <option value="na" selected disabled>Seleccione su cuenta</option>

            <% Object.keys(cuentas["accounts"]).forEach(key=>{%>
                <option value="<%=key%>"> <%=cuentas["accounts"][key]["name"] %>
                </option>
                <%}) %>
                   
        </select>
        
        
        <select name="Dias" id="Dias">
            <option value="na" selected disabled>Seleccione un rango de fechas</option>
            <option value="0">hoy</option>
            <option value="7">Ultimos 7 dias</option>
            <option value="15">Ultimos 15 dias</option>
            <option value="30">Ultimos 30 dias</option>
            <option value="90">Ultimos 3 meses</option>
            <option value="180">Ultimos 6 meses</option>
            <option value="365">Ultimo año</option>
            <option value="1825">Ultimos 5 años</option>
        </select>
    
        <select  name="Rubro" id="Rubro" multiple="multiple" > 
            <option value="Hogar_e_Interiores">Hogar e Interiores</option>
            <option value="Medicina">Medicina</option>
            <option value="Compras_Virtuales">Compras Virtuales</option>
            <option value="Comida">Comida</option>
            <option value="Turismo_y_cultura">Turismo y cultura</option>
            <option value="Vehiculos_y_transporte">Vehiculos y transporte</option>
            <option value="Ropa">Ropa</option>
            <option value="Mascotas">Mascotas</option>
            <option value="Empresas_Reportadas_Negativamente">Empresas Reportadas Negativamente</option>
            <option value="Software_y_Tecnologias">Software y Tecnologias</option>
            <option value="Economia_y_acciones">Economia y acciones</option>
            <option value="Retiros">Retiros</option>
            <option value="Entradas">Entradas</option>
            <option value="Donaciones">Donaciones</option>
            <option value="Otro">Otro</option>
        </select>
        <script>
            // Initialize multiple select on your regular select
            $("#Rubro").multipleSelect({
                filter: true
            });
        </script>
        <button onclick="read()">Buscar</button>
        

        <% if (Object.keys(movimientos).length!=0) { %>
            <br>
            <br>
            <h3>Tus movimientos financieros:</h3>
            <br>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar un movimiento." title="Busca descripcion:">
            <br>
            <br>
            <table id="tablaX">
                <tr id="infoTR">
                  
                  
                  <th>fecha</th>
                  <th>Detalles</th>
                  <th>Efectivo</th>
                  <th>Categoria</th>
                  
                  
                </tr>
                <% Object.keys(movimientos["movements"]).forEach(key=>{
                    let color = "red";
                    let title = "Salida de dinero"
                    if(movimientos["movements"][key]["credit"]==""){
                        movimientos["movements"][key]["credit"]=0
                    }
                    if(movimientos["movements"][key]["debit"]==""){
                        movimientos["movements"][key]["debit"]=0
                    }
                    if(parseInt(movimientos["movements"][key]["credit"])-parseInt(movimientos["movements"][key]["debit"])>0){
                        color = "#00ff00";
                        title = "Entrada de dinero"
                    }
                    %>
                    
                    
                    <%  if (rubro.some(v => movimientos["movements"][key]["Categoria"].includes(v))){  %>
                    <td><%=movimientos["movements"][key]["date"]%></td>
                    <td><%=movimientos["movements"][key]["detail"]%></td>
                    <td title="<% title %>" style="color:<%=color %> ;" ><%= parseInt(movimientos["movements"][key]["credit"])-parseInt(movimientos["movements"][key]["debit"])%></td>

                    <td><%=movimientos["movements"][key]["Categoria"]%></td>

                    
                    </tr>
                <%}}) %>
                
                
                
              </table>
        <% } %>
        
        <script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("tablaX");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
    </div>
</body>
<script src="movimientos.js"></script>
</html>